@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}

*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 131px;
    
}

.btn1{
    
    padding: 17px 24px;
    position: absolute;
    left: 1046px;
    top: 38px;
    height: 58px;
    width: 243px;
    font-size: 19px;
    font-family: "Azeret Mono", monospace;
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
    
}
.nav-title{
    color: rgb(13, 19, 33);
    font-size: 27px;
    font-weight: 100;
    margin-top: 48px;
    
}

.hero-content{
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    width: 1440px;
    height: 652px;
    margin-top: 33px;
    text-align: center;  
}

.hero-content img{
    width: 162.64px;
    height: 215.166;
    margin-top: 27px;
    margin-bottom: 30px;
}
.heroh{
    margin-right: 210px;
    margin-left: 210px;

    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.herop{
    padding-left: 73px;
    padding-right: 73px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 100;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.btn2 {
    height: 60px;
    width: 250px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 100;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;
    margin bottom: 54px;
    padding: 21px 24px 21px 24px;

}

main{
    width: 1083px;
    margin-left: 140px;
    margin-right: 145px;
}

.inspiration{
    width: 1083px;
    margin-left: 40px;
     margin-right: 145px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     margin-bottom: 48px;
}

.video{
    padding: 32px 32px;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-bottom: 149px;
    margin-top: 48px;
}
.skill{
    display: flex;
    margin-top: 48px;
}
.allskill{
    width: 1083px;
    margin-left: 40px;
    margin-right: 145px;
}
#htmlskl{
    width: 346px;
height: 300px;
padding: 40px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
margin: 0px 24px;
}
#css_skl{
    width: 346px;
    height: 300px;
    padding: 40px;
    margin: 0px 24px;
    border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}
#js_skl{
    width: 346px;
    height: 300px;
    padding: 40px;
    margin: 0px 24px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.hard{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
}
.mng{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
margin: 8px 0px;
margin-bottom: 24px;
}

.uline{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
text-align: left;
margin: 24px 0px;
}

.dsc{
    width: 809px;
    padding: 80px 97px 80px 97px;
margin: 48px 0px;
}
.hading{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
margin-bottom: 24px;
}
.innerbox{
    display: flex;
    margin: 32px 0px;
    border-radius: 16px;
background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.fullbox{
    width: 899px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 80px 97px 80px 97px;
margin-bottom: 168px;


}
.prg{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
text-align: center;
}


.ibox{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
width: 390px;
height: 72px;
text-align: left;
margin-bottom: 16px;
}

.caption{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
opacity: 0.7;
margin-bottom: 32px;
}

.gap{
    margin-left: 32px;
}
.lm{
    width: 150px;
height: 48px;
padding: 12px 20px 12px 20px;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
}

.support{
    background-image: url(assets/handshake.jpg);
    background-position: center;
    background-size: cover;
    width: 943px;
    max-height: 314px;
    margin-left: 210px;
    margin-right: 120px;
    margin-bottom: 179px;
    margin-top: 20px;
    border-radius: 16px;
    padding: 64px 48px 64px 48px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)
}
h3{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
text-align: center;
margin-bottom: 16px;
}

.help{
    width: 992px;
    text-align: center;
    padding: 0px;
    


}
.phelp{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
margin: 16px 0px;
text-align: center;
}
.sugginp{
    width: 521px;
height: 15px;
padding: 19px 20px 19px 20px;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
}
.btnlast{
    width: 114px;
    height: 58px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
background: rgb(255, 255, 255);
text-align: center;
}
.socials {
    display: flex;
    gap: 24px;
}
.lastc{
    display: flex;
    justify-content: space-between;

}
#gofooter{
    width: 1083px;
    margin-left: 145px;

    border-radius: 16px;
background: rgba(13, 19, 33, 0.03);

}